{% extends "base.html" %}
{% load static %}
{% block title %}
    {{object.name|default:'Название магазина'}}
{% endblock %})
{% block content %}
    <div class="menu2">
    {% if object.author == user %}
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
            <a href="{% url "product:product_create" pk=object.pk %}">Добавить новый товар</a>
        </div>
        <div class="col-lg-4">
            <a href="{% url "shop:update" pk=object.pk %}">Изменить информацию о магазине</a>
        </div>

    {% endif %}
    </div>

    <div id="shop">
        <h3>МАГАЗИН</h3> <h4> {{ object.name }} </h4>
        Владелец: {{ object.owner_name }}<br>
        Описание магазина:<br> {{ object.description }} <br>
        Комментарии: {{ comments.count_comments |default:0 }} <br>
        Дата создания магазина: {{object.created_at}} <br>
    </div>

    <div id="productsShop">
    {% for product in object.product_set.all %}
        <div class="col-lg-4">
        {% if product.author == user %}
            {% if product.image %}
                <img src="{{ product.image.url }}" height="200" width="200"/> <br>
            {% else %}
                <img src="{% static "img/product-default.jpg" %}" />
            {% endif %}

            <a href="{%url  "product:about_product" pk=product.id %}">{{ product.name }}</a><br>
            {% if product.publish == null %}
                Не опубликовано <br>
            {% endif %}

        {% else %}
            {% if product.publish %}
                {% if product.image %}
                    <img src="{{ product.image.url }}"height="200" width="200" /> <br>
                {% else %}
                    <img src="{% static "img/product-default.jpg" %}" />
                {% endif %}
                <a href="{%url  "product:about_product" pk=product.id %}">{{ product.name }}</a><br>
            {% endif %}
         {% endif %}
        </div>
    {% endfor %}
    </div>
 {% endblock %}