<!DOCTYPE html>
{% extends "base.html" %}
<head>
    {% block title %} Login {% endblock %}
</head>
<body>
    {% block content %}
        <div class="container">
            <div class="col-lg-6">
                <h3>Авторизация</h3>
                <form method="post" class="form-inline">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit">
                </form>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        {% endblock  %}
</body>
</html>


