{% extends "base.html" %}
{% load static %}
<head>
    {% block title %}
        Главная страница блога
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="col-lg-8">
         <h1> Поздравляю! <br> Вы на главной странице сайта! <small> <br>
             Общая информация</small> <br>
         </h1> <br>
        <p>
            Есть ящик и кот. <br>
            В ящике имеется механизм, содержащий радиоактивное атомное ядро
            и ёмкость с ядовитым газом.  Параметры эксперимента подобраны так,
            что вероятность распада ядра за 1 час составляет 50%.
            Если ядро распадается, открывается ёмкость с газом и кот погибает.
            Если распада ядра не происходит — кот остается жив-здоров.
            Закрываем кота в ящик, ждём час и задаёмся вопросом: а жив ли кот
        </p> </div>
</body>
 {% endblock %}