
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<script  src="{% static "js/base.js" %}"></script>
{% block title %}
    {{ product.name }}

{% endblock %})
{% block content %}

    <h3>{{ product.name }}</h3>
    <a href="{% url "shop:about_shop" pk=product.shop.pk %}">Посмотреть магазин</a>
    <br>
    {% if product.author == user %}
        <a href="{% url "product:update" pk=product.pk%}">Редактировать товар</a><br>
    {% endif %}
    <br>
    <div class="row">
            <div class="col-lg-6">
               {% if product.image %}
                   <img src="{{ product.image.url }}" height="420" /> <br>
               {% else %}
                   <img src="{% static "img/product-default.jpg" %}" />
               {% endif %}
               <div id = "like" data-click-action="{% url "product:like" pk=product.pk %}">  Нравится:{{ product.like }}</div>
               <div id = "like" data-click-action="{% url "product:dislike" pk=product.pk %}">  Не нравится:{{ product.like }}</div>
            </div>
            <div class="col-lg-6">     <br> {{ product.description }} <br>
                <h5> Запись создана: </h5> {{product.created_at}}<br>
                <h5> Запись изменена: </h5> {{ product.changed_at }} <br>
                {% if product.author == user %}
                    {%  if product.publish %}
                        Запись опубликована <br>
                    {% else %}
                        Запись не опубликована <br>
                    {% endif %}
                {% endif %}
                <br>
                <h3>Комментарии:</h3>
                <div id="comments">

                </div>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {% render_field form.text class="form-control" placeholder="Напишите комментарий" rows="3"%}
                    <input type="submit" class="btn btn-default">
                </form>
                <br>
            </div>
    </div>


    <a href="{% url "product:products" %}">Назад к списку товаров</a><br>
    <script>
    function load_comments () {
       $('#comments').load('{% url "product:comments" pk=product.pk%}');
    }
      window.setInterval(load_comments, 10000);

    $(document).on('click', '[data-click-action]', function() {
        $('#like').load('{% url "product:like" pk=product.pk%}');
        $('#dislike').load('{% url "product:dislike" pk=product.pk%}');
        return false;
    });


    </script>

 {% endblock %}