{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
    Товары
{% endblock %})
{% block content %}
    <h1>Список товаров</h1> <br>
    <form action="" method="get" class="form-inline" role="form">
        <div class="form-group">
            <h5>Поиск товара по имени </h5>{% render_field form.search class="form-control"%}
        </div>
        <div class="form-group">
            {% render_field form.sort_field class="form-control" %}
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" >
        </div>
    </form>
    <br>
        <table class="table table-hover">
           <tr>
                <th>НАЗВАНИЕ</th>
                <th>МАГАЗИН</th>
                <th>ДАТА СОЗДАНИЯ</th>
                <th>ДАТА ИЗМЕНЕНИЯ</th>
           </tr>


            {% for object in object_list %}
                {% if object.publish %}
                    <tr>
                         <td><a href="{%url  "product:about_product" pk=object.id %}">{{ object.name }}</a></td>
                         <td> {{ object.shop }}</td>
                         <td> {{ object.created_at }} </td>
                         <td> {{ object.changed_at }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
 {% endblock %}