{% extends "base.html" %}
{% block title %}
    Товары
{% endblock %})
{% block content %}
    <h1>Список товаров</h1> <br>
    <form action="" method="get">
       {{ form }}
       {% comment %}  <select name="sort_field">
           <option value="-id">ID</option>
           <option value="created_at">Дата создания</option>
           <option value="title">Заголовок</option>
       </select>
       <input type="text" name="search">
       {% endcomment %}
        <input type="submit">
        {# form.search.errors #}
        {# form.errors #}
    </form>
    <br>
    {% for object in object_list %}
         <a href="{%url  "product:about_product" pk=object.id %}">{{ object.name }}</a><br>
         Запись создана: {{ object.created_at }} <br>
         Последнее изменение: {{ object.changed_at }} <br> <br>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        {{ cform }}
        <input type="submit">
    </form>
    <br>
 {% endblock %}