{% for comment in object.comments.all %}
        <h5 style="color: #BFA5CB">{{ comment.author }}</h5>
        {{ comment.text }}
        <div class="like"  style="display: inline" data-click-action="{% url "likes:commentLike" pk=comment.id %}">
           <span class="glyphicon glyphicon-thumbs-up"></span>
           <span class="like_count">{{ comment.like }}</span></div>

        <div style="display: inline" class="dislike" data-click-action="{% url "likes:commentDislike" pk=comment.id %}">
           <span class="glyphicon glyphicon-thumbs-down">
           </span> <span class="like_count">{{ comment.dislike }}</span></div>
        <br>
    {% endfor %}
